/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header (cabeçalho) */
.header {
    background-color: #007BFF;
    padding: 20px;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 2em;
    
}

/* incicio da estilizacao da pagina index.php*/
.header nav ul {
    list-style: none;
}
.header nav ul li {
    display: inline;
}
.header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

/* fim da estilizcao index.php */

/* Formulário de cadastro */
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos do rodapé */
.footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.footer p {
    margin: 0;
}
